body {
  font-family: monospace;
    text-align: center;
}

h1 {
  text-align: center;
}
#inputAndButton {
  text-align: center;
}
table {
  padding: 10px;
    text-align: center;
}
td {
  padding: 20px;
}
tbody {

}
table {
  text-align: center;
    margin-left:auto;
    margin-right:auto;
  }
